spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/consentdb
    username: consentuser
    password: consentpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  # Using a base64 encoded string for HS256 (at least 256 bits/32 bytes)
  secret: Y29uc2VudEFwcFNlY3JldEtleUZvckpXVFRva2VuR2VuZXJhdGlvbg==
  expiration: 86400000 # 24 hours in milliseconds

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
